build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: text
  content: |-
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

    docker run --name registry-browser -p 30001:8080 --env DOCKER_REGISTRY_URL="http://${ROOST_CLUSTER_IP}:5000" klausmeyer/docker-registry-browser
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: Bhavika Baid
lastUpdatedOn: 2023-02-02T11:39:52.475Z
