.DS_Store
googlebookapi/.DS_Store
googlebookapi/src/googlebookapi

# Hipstershop 
hipstershop-ecommerce/src/adservice/grpc_health_probe-linux-amd64
hipstershop-ecommerce/src/cartservice/grpc_health_probe-linux-amd64
hipstershop-ecommerce/src/checkoutservice/grpc_health_probe-linux-amd64
hipstershop-ecommerce/src/currencyservice/grpc_health_probe-linux-amd64
hipstershop-ecommerce/src/emailservice/grpc_health_probe-linux-amd64
hipstershop-ecommerce/src/paymentservice/grpc_health_probe-linux-amd64
hipstershop-ecommerce/src/productcatalogservice/grpc_health_probe-linux-amd64
hipstershop-ecommerce/src/recommendationservice/grpc_health_probe-linux-amd64
hipstershop-ecommerce/src/shippingservice/grpc_health_probe-linux-amd64

grpcExample/grpc_health_probe-linux-amd64
grpcExample/bin/**
